In [4]:
# Import Lib
import pandas as pd
import numpy as np
import seaborn as sns
import os 
import warnings
warnings.filterwarnings('ignore')

In [17]:
# Read data set
#data = pd.read_csv('unclean_data.csv')  #  this line of code will give error wee need to check and update the codes#
# error you will get --> "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 7: invalid start byte"
# --> for that solution : open text editor (subline) save as with encoding UTF-8 and save it .. after doing we got the new file Unclean_data1.csv 

# TYPE- 1 

data = pd.read_csv('unclean_data.csv' , encoding='latin')

In [18]:
data.head()

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,NaN,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   movie_title                14 non-null     object
 1   num_critic_for_reviews     14 non-null     int64
 2   duration                   11 non-null     float64
 3   DIRECTOR_facebook_likes    12 non-null     object
 4   actor_3_facebook_likes     14 non-null     int64
 5   ACTOR_1_facebook_likes     14 non-null     int64
 6   gross                      14 non-null     int64
 7   num_voted_users            13 non-null     float64
 8   Cast_Total_facebook_likes  12 non-null     float64
 9   facenumber_in_poster       9 non-null      float64
 10  num_user_for_reviews       14 non-null     int64
 11  budget                     14 non-null     int64
 12  title_year                 14 non-null     int64
 13  ACTOR_2_facebook_likes     13 non-null     float64
 14  imdb_score                 14 non-null     float64
 15  title_year.1               7 non-null      float64
dtypes: float64(7), int64(7), object(2)
memory usage: 1.9+ KB